
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #333;
  margin-left: -100px;
}

.main-content {
  margin-left: 250px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 240px;
  background-color: #191414;
  color: #fff;
}

.header {
  color: #fff;
  padding: 1rem;
}

.player {
  background-color: #282828;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.content-center {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}
